/* Write Your CSS Below 
Colors: 
- rgb(243, 183, 106)
- yellow
- rgb(241, 117, 0)
- red
- rgb(13, 110, 0)
- rgb(109, 0, 251)
- rgb(219, 255, 57)
- rgb(116, 201, 241)
- rgb(251, 64, 64)

Sizes: 
- 100%
- 70%
- auto
- 1.5em
- 3rem
- .5em

Font: 
- Copperplate (You can also use any font that you'd like!)

Images: 
- "https://i.pinimg.com/236x/d6/3f/56/d63f563519df0ece564b82c72e9e306c.jpg"
    - (You may use any image you would like for the background!)
*/

#page-title{
    width: 800px;
    padding-top: 1%;
    padding-bottom: 1%;
    color: rgb(135, 64, 198);
    margin: auto auto auto;
    text-align: center;
    text-shadow: 4px 2px 4px yellow;
    text-decoration-line: underline;
    text-decoration-color: rgb(135, 64, 198);
    background-image: linear-gradient(rgb(116, 201, 241),rgb(251, 64, 64));
    border-radius: 8px;
}
body {
    background-image: url("https://i.pinimg.com/236x/d6/3f/56/d63f563519df0ece564b82c72e9e306c.jpg");
    background-size: cover;
    padding-left: 30%;
    padding-right: 30%;
    
    
}

#jordans-1 {
    padding-right: 50%;
    height: 10%;
    margin-top: 10%;
}

#jordans-2 {
    height: 10%;
    padding-left: 35%;

}

p{
    color: white;
    font-weight: bold;
    font-family: Copperplate;
    width: 580px;
    
}

#jordans-1-desc{
    background-color: rgb(116, 201, 241);
    border: 2px solid rgb(251, 64, 64);
    border-radius: 8px;
    padding: 2%;
    

}

#jordans-2-desc {
    background-color: rgb(251, 64, 64);
    border: 2px solid rgb(13, 110, 0);
    border-radius: 8px;
    padding: 2%;
    
   
    
}

#row2-section2 {
    margin-left: 35%;
}